// SignUp.scss

.signup {
  &__container {
    position: relative;
    z-index: 1;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa; /* Same background color as Login */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-bottom: 50px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #343a40; /* Same text color as Login */
    text-align: center;
  }

  &__form {
    text-align: center;
  }

  &__form-group {
    margin-bottom: 15px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057; /* Same label color as Login */
  }

  &__input {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #ced4da; /* Same border color as Login */
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    outline: none;

    &:focus {
      border-color: #80bdff; /* Same focus color as Login */
    }
  }

  &__error-message {
    color: #dc3545; /* Same error message color as Login */
    margin-top: 10px;
    font-size: 14px;
  }

  &__signup-button {
    display: block;
    width: calc(100% - 24px);
    margin: 20px auto 10px;
    padding: 12px;
    background-color: #007bff; /* Same button color as Login */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3; /* Darker shade on hover */
    }
  }

  &__login-prompt {
    text-align: center;
    color: #6c757d; /* Same text color as Login */

    &__link {
      color: #007bff; /* Same link color as Login */
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
