.starting {
    font-family: 'Arial, sans-serif';
    color: #333;
  
    .header {
      margin-bottom: 2rem;
    }
  
    .banner {
      margin-bottom: 2rem;
    }
  
    .category-dropdown {
      margin: 0 auto;
      width: 80%;
      max-width: 600px;
    }
  }
  