// Login.scss

.login {
  &__container {
    position: relative;
    z-index: 1;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px; /* Adjust the top margin to prevent overlay with the header */
    margin-bottom: 50px; /* Add margin at the bottom to prevent overlay with the footer */
  }

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
  }

  &__form {
    text-align: center;
  }

  &__form-group {
    margin-bottom: 15px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
  }

  &__input {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    outline: none;

    &:focus {
      border-color: #007bff;
    }
  }

  &__error-message {
    color: #dc3545;
    margin-top: 10px;
    font-size: 14px;
  }

  &__login-button {
    display: block;
    width: calc(100% - 24px);
    margin: 20px auto 10px;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }

  &__signup-prompt {
    text-align: center;
    color: #555555;

    &__link {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
