// Banner.scss

.banner {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 300px; /* Set a fixed height for the banner */
  
    &__slogan {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      z-index: 2; /* Ensure slogan is above buttons */
    }
  
    &__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 32px;
      color: #fff;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: opacity 0.3s ease;
      z-index: 2; /* Ensure buttons are above image */
  
      &:first-child {
        left: 20px; /* Adjust left button position */
      }
  
      &:last-child {
        right: 20px; /* Adjust right button position */
      }
  
      &:hover {
        opacity: 0.8;
      }
    }
  
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ensure image fills the entire space while maintaining aspect ratio */
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 1; /* Ensure image is behind slogan and buttons */
    }
  }
  